<form action="/add" method="POST">
    <p>Título: </p>
    <input type="test" name="titulo">
    <p>Conteúdo: </p>
    <textarea name="conteudo" id="" rows="10" cols="30"></textarea>
    <button type="submit">Cadastrar Postagens</button>
</form>

<!-- Não precisa de html pois, o tamplate main.handlebars já fornece todo o tamplate html -->